###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

/TCC/Assets/Audio/FMOD/Project Test 1/**/*.xml
/TCC/Assets/Audio/FMOD/Project Test 1/**/*.meta
/TCC/Assets/Audio/FMOD/Project Test 1/*.meta
/TCC/Assets/FMODStudioCache.asset
/TCC/Assets/FMODStudioCache.asset.meta
/TCC/Assets/StreamingAssets/*.meta
fmod.log
fmod_editor.log